*{
    padding: 0;
    margin : 0;
}
body{width:100%;height:100%;}

._label{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 60px;
    /* border: 1px solid green; */
    margin-left: 10%;
    margin-bottom: 22px;
    margin-top: 10px;
}
.home{
    width:100%;
    height:100%;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(./warmbase.jpg);
    background-size: 100% 100%;
}
.mainbox{
    margin: 5% auto;
    background-color:whitesmoke;
    width:80%; height:800px;
    border-radius: 10px;

}
div{display:block;}
.leftbox{
    float:left;
    position:relative;
    width:60%;
    height:100%;
    display:inline-block;
}
.rightbox{
    float:right;
    position:relative;
    width: 40%;
    height:100%;
    display:inline-block;
}
.Gbox{
    display:inline-block;
    margin:4% 6%;
    background-color: rgb(194, 168, 168);
    width:80%;
    height:65%;
    border-radius: 10px;
}
/*.choiceBox{

}*/
.userbox{
    display:inline-block;
    height:75%;
    width:100%;

}
.GRbox{
    display:inline-block;
    overflow: auto;
    margin:0% 6%;
    background-color:rgb(197, 238, 245);
    height:20%;
    width: 80%;
    border-radius: 10px;
}
.repo{
    padding:10px;
    font-size:12pt;
}
.GRbox::-webkit-scrollbar{
    width: 10px;
}
.GRbox::-webkit-scrollbar-thumb{
    background-color: rgb(173, 189, 189);
    border-radius: 10px;
}
.GRbox::-webkit-scroller-track{
    background-color: rgb(255, 255, 255);
}
.in_{
    background-color:aliceblue;
    position:relative;
    width:68%;
    height:15pt;
    border-radius:5px;
    margin-left: 6%;
    margin-top:0;
    font-size:12pt;

}
.chatbtn{
    background-color: rgb(190, 241, 241);
    width:10%;
    border-radius: 5px;
}
.chatbtn:hover{
    background-color: rgb(78, 197, 226);
    color:white;
}
.otherplayerbox{
    position: relative;
    display:inline-block;
    width:50%;
    height:25%;
    margin:7% 7% 0% 15%;
    border-radius: 10px;
    background-color: rgb(202, 225, 238);
}
.startbtn{
    display:inline-block;
    width:40%;
    height:45%;
    margin:7% 0% 15% 0%;
    border-radius:15px;
    background-color: aquamarine;
    justify-content: center;
    letter-spacing: 8px;  
    font-size:15pt; 

}
.startbtn:hover{
    background-color: aqua;
    color:white;
}
.exitbtn{
    display:inline-block;
    width:40%;
    height:45%;
    margin:7% 0% 15% 5%;
    border-radius:15px;
    background-color: aquamarine;
    justify-content: center;
    letter-spacing: 8px;
    font-size:15pt;
}
.exitbtn:hover{
    background-color: aqua;
    color:white;
}
.btnarea{
    display:inline-block;
    width: 100%;
    height: 25%;
}