*{
    padding: 0;
    margin : 0;
}
body{width:100%;height:100%;}

._label{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 60px;
    /* border: 1px solid green; */
    margin-left: 10%;
    margin-bottom: 22px;
    margin-top: 10px;
}
.home{
    width:100%;
    height:100%;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(img/bg.jpg);
    background-size: 100% 100%;
}
.player{
    display:inline;
    position:relative;
    background-color: lightblue;
    margin: 5% auto;
    border-radius: 10px;

}
.mainbox{
    margin: 5% auto;
    background-color:whitesmoke;
    width:85%; height:730px;
    border-radius: 10px;

}
div{display:block;}
.leftbox{
    position:relative;
    width:65%;
    height:100%;
    display:inline-block;
}
.rightbox{
    position:relative;
    width: 35%;
    height:100%;
    display:inline-block;

}
.Gbox{
    margin: 3% auto;
    background-color: brown;
    width:90%;
    height:90%;
    border-radius: 10px;
}
.GRbox{
    margin: 5.3% auto;
    background-color:lightgray;
    height:60%;
    width: 90%;
    border-radius: 10px;
}
.playerbox{
    margin: 3% auto;
    height:27.7%;
    width: 90%;
    border-radius: 10px;
    background-color: antiquewhite;
}
