*{
    padding: 0;
    margin : 0;
}
body{width:100%;height:100%;}
button:disabled{
    background-color:rgba(0, 180, 15, 0.347)
}
._label{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 60px;
    /* border: 1px solid green; */
    margin-left: 10%;
}
.home{
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(./warmbase.jpg);
    background-size: 100% 100%;
}
.roombtn{
    margin-left:auto;
    display:inline-block;
    font-size: 15pt;
    color:white;
    border-style: hidden;
    border-radius: 5px;
    background-color: rgb(0, 180, 15);
    
    
}
.roombtn:hover{
    background-color:rgb(0, 255, 34);
    
}
.roomhead{
    width:98.5%;
    height:21.600px;
    display:inline-flex;
    padding:10px;
    background-color: rgb(0, 180, 15);
    border-radius: 8px;
    color:rgb(255, 255, 255);
    font-size:12pt;
    font-weight: 400;

}
.roomname{
    color:rgb(255, 255, 255);
    font-size:14pt;
    font-weight: 400;

}
.mainbox{
    position:relative;
    margin: 0% auto 5% auto;
    background-color:whitesmoke;
    width:1215.35px; height:940px;
    border-radius: 8px;

}
div{display:block;}
.leftbox{
    position:relative;
    width:60%;
    height:100%;
    display:inline-block;
    float:left;
}
.rightbox{
    position:relative;
    width: 40%;
    height:95.6%;
    display:inline-block;
    float:right;
}
.Gbox{
    position: relative;

    display:inline-block;
    margin:4% 6% 4% 7%;
    background-color: antiquewhite;
    width:583.350px;
    height:559px;
    border-radius: 5px;
}
table{ border-collapse: collapse;

}
td{
    border:1px solid black;
    width:57px;
    height:52.5px;
    justify-content: center;
    text-align:center;
}
/* td:hover{
    background-color: azure;
} */
.clickable {
    background-color: aliceblue;
}
.clickable:hover {
    background-color: azure;
}
.nonclickable {
    background-color: darkgray;
}
.wormHead {
    background-color: red;
}
.wormTail {
    background-color: blue;
}
.bomb {
    background-color: green;
}
.damaged {
    background-color: blueviolet;
}
.attacked {
    background-color: brown;
}
.userbox{
    display:inline-block;
    height:75%;
    width:100%;

}
.GRbox{
    display:flex;
    overflow: auto;
    margin:0% 7%;
    background-color:rgb(197, 245, 197);
    height:22%;
    width: 80%;
    border-radius: 10px;
    flex-direction: column-reverse;
    overflow-y:auto;
}

.repo{
    padding:10px;
    font-size:12pt;
    display:flex;
    
}

.GRbox::-webkit-scrollbar{
    width: 10px;
}

.GRbox::-webkit-scrollbar-thumb{
    background-color: rgb(173, 189, 180);
    border-radius: 10px;
}

.GRbox::-webkit-scroller-track{
    background-color: rgb(255, 255, 255);
}

.in_{
    background-color:rgb(240, 255, 242);
    position:relative;
    width:69%;
    height:15pt;
    border-radius:5px;
    margin-left: 7%;
    margin-top:0;
    font-size:12pt;

}
.chatbtn{
    background-color: rgb(190, 241, 201);
    width:10%;
    border-radius: 5px;
}
.chatbtn:hover{
    background-color: rgb(78, 226, 90);
    color:white;
}
.playerbox{
    position: relative;
    display:inline-block;
    width:53%;
    height:19%;
    margin:7% 7% 0% 15%;
    border-radius: 10px;
    background-color: rgb(202, 238, 207);
}
.pln{
    text-align: center;
}
.pln span{
    color: rgb(91, 128, 91);
    font-size: 15.5pt;
    font-weight: bolder;
}

.playerbox p{
    margin:5px;
}
/* .playerbox .worm .boomb {
    margin-top: 5px;
} */
.dieplayerbox{
    position: relative;
    display:inline-block;
    width:50%;
    height:25%;
    margin:7% 7% 0% 15%;
    border-radius: 10px;
    background-color: rgb(49, 77, 53);
}
.dieplayerbox img{
    width:90%;
    height:95%;
    margin-left:5%;
    filter: opacity(0.5) drop-shadow(0 0 0 red);
}
.startbtn,.exitbtn{
    display:inline-block;
    width:40%;
    height:45%;
    background-color: rgb(0, 180, 15);
    border-radius:15px;
    color:white;
    justify-content: center;
    letter-spacing: 8px;  
    font-size:15pt;
}
.startbtn{
    margin:7% 0% 15% 0%;
}
.startbtn:hover{
    background-color: rgb(0, 255, 34);
    color:white;
}
.exitbtn{
    margin:7% 0% 15% 8%;
}
.exitbtn:hover{
    background-color: rgb(0, 255, 34);
    color:white;
}
.btnarea{
    display:inline-block;
    width: 100%;
    height: 25%;
}
